{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    body {
        text-align: center;
        padding: 100px;
    }
    input.form-control {
        font-size: 40px;
        height: auto;
        text-align: center;
    }
    .result {
        margin-bottom: 50px;
    }
    .message {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .glyphicon {
        font-size: 100px;
    }
    .glyphicon.error {
        color: red;
    }
    .glyphicon.success {
        color: green;
    }
    .state {
        font-size: 50px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .state .ready {
        color: green;
    }
    .state .wait {
        color: red;
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    {% if result is not empty %}
        <div class="result">
            <div class="status">
                {% if result.error %}
                    <span class="glyphicon glyphicon-thumbs-down error"></span>
                {% else %}
                    <span class="glyphicon glyphicon-thumbs-up success"></span>
                {% endif %}
            </div>
            <div class="message">
                {{ result.message }}
            </div>
        </div>
    {% endif %}
    <div class="state">
        <div class="ready">Klar til scanning</div>
        <div class="wait">Vent med at scanne...</div>
    </div>
    <form action="" method="get">
        <input type="text" name="orderId" class="form-control" placeholder="Scan stregkode..." autocomplete="off">
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        function focusOrderId() {
            $("form input[name='orderId']").focus();
        }

        var focusIntervalId = setInterval(focusOrderId, 500);

        $(function() {
            focusOrderId();

            $("form").on("submit", function() {
                clearInterval(focusIntervalId);
                $(".state .ready").hide();
                $(".state .wait").show();
                return true;
            });
        });
    </script>
{% endblock %}